:root {
    --primaria: #4A90E2;
    --secundaria: #50e3be;
    --neutra-escura: #4A4A4A;
    --neutra-clara: #F4F4F4;
    --suave: #E3EBF3;
    --suave-verde: #d4f0e9;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    color: var(--neutra-escura);
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

footer {
    background-color: var(--suave-verde);
    padding: 1.2rem;
    text-align: center;
    font-weight: 600;
}


/* Estilização do header */
header {
    padding: 2rem 2rem 1.5rem 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--suave);
}

button#cadastro {
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem;
    background-color: var(--secundaria);
}

button#cadastro:hover, button#confirmar-sim:hover {
    background-color: #4ed1b0;
}

button#excluir-produtos {
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem;
    background-color: #e64759;
    display: flex;
    align-items: center;
}

button#excluir-produtos:hover, button#cancelar:hover {
    background-color: #d4182e;
}

#excluir-produtos img {
    width: 20px;
}


/* Estilo da tabela com listagem */
table {
    width: 70%;
    border-collapse: collapse;
    margin: 2rem auto;
}

table, th, td {
    border: 1px solid rgb(133, 133, 133);
}

th, td {
    padding: 0.65rem;
}

table tr th {
    background-color: var(--primaria);
    color: var(--neutra-clara);
    font-size: 20px;
}

table tr:hover td, .sort-button:hover {
    background-color: var(--suave);
}

.nome, .valor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#acoes {
    text-align: left;
}

.sort-button {
    border: 1px solid var(--neutra-clara);
    border-radius: 25px;
}

.edicao-button {
    border-radius: 12px;
    padding: 0.3rem;
    background-color: var(--suave-verde);
}

.edicao-button:hover {
    background-color: var(--secundaria);
    font-weight: 500;
}

.estilo-button {
    display: flex;
}

div.estilo-button img {
    width: 30px;
}


/* Estilo do formulário de cadastro */
#container-cadastro {
    width: 40%;
    margin: auto;
    background-color: var(--suave);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

#formulario-cadastro {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
}

input, select, button {
    border: 1px solid rgb(73, 85, 75);
    border-radius: 7px;
}

input, select {
    height: 42px;
    padding: 0.6rem;
}

label {
    margin: 0.8rem 0 0.2rem 0;
}

button#realizar-cadastro {
    width: 60%;
    margin: 1.5rem auto 0;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--neutra-clara);
    background-color: var(--primaria);
}

option.selecione {
    color: var(--neutra-escura);
}

.mensagem-sucesso {
    position: fixed;
    top: 21%;
    right: 6%;
    padding: 1.3rem;
    border: 1px solid var(--neutra-escura);
    border-radius: 15px;
    font-weight: 700;
    background-color: #52da86;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

/* Estilo do modal de edição de produtos */
#modal-edicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    width: 400px;
    background-color: var(--suave);
    z-index: 1;
    padding: 2rem;
    border-radius: 10px;
}

#fundo-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#formulario-edicao {
    display: flex;
    flex-direction: column;
}

button#realizar-edicao {
    width: 50%;
    margin: 2rem auto 0;
    padding: 0.5rem;
    background-color: var(--primaria);
    color: var(--neutra-clara);
    font-weight: 600;
}

button#realizar-edicao:hover {
    background-color: #3067a7;
}

.fechar-modal {
    font-size: 30px;
    position: absolute;
    right: 19px;
    top: 10px;
    cursor: pointer;
}

/* Estilização do modal de confirmação */
#confirmar {
    width: 50%;
    padding: 2rem;
    background-color: var(--suave-verde);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}

.botoes-confirmação {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}
#confirmar-sim, #cancelar {
    padding: 0.5rem;
    font-weight: 500;
    border-radius: 17px;
}

#confirmar-sim {
    background-color: var(--primaria);
}

#cancelar {
    background-color: #e64759;
}